<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<div class="bgimg">
  <header>
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li>
            <a [routerLink]="['/home']" class="active">
              <span class="glyphicon glyphicon-home"></span> Home </a>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a [routerLink]="['/login']" class="nav-link">
              <span class="glyphicon glyphicon-log-in"></span> LogIn </a>
          </li>
          <li>
            <a [routerLink]="['/register']" class="nav-link">
              <span class="glyphicon glyphicon-user"></span> SignUp </a>
          </li>
        </ul>
      </div>
    </nav>
  </header>


  <div class=" mystyles-display-container mystyles-animate-opacity mystyles-text-green">
    <div class="mystyles-display-center">
      <div class="mystyles-center">
        <div class="mystyles-container">
          <div class="mystyles-show-inline-block">
            <div  class="mystyles-bar mystyles-center">
              <h1 class="mystyles-jumbo mystyles-animate-top">
                Resource Tracking Management
              </h1>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>