/* mystyles.CSS 4.12 November 2018 by Jan Egil and Borge Refsnes */
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}
/* Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize */
html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section,summary{display:block}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent;-webkit-text-decoration-skip:objects}
a:active,a:hover{outline-width:0}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}svg:not(:root){overflow:hidden}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-input-placeholder{color:inherit;opacity:0.54}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* End extract */
html,body{font-family:Verdana,sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}
h1{font-size:36px}h2{font-size:30px}h3{font-size:24px}h4{font-size:20px}h5{font-size:18px}h6{font-size:16px}.mystyles-serif{font-family:serif}
h1,h2,h3,h4,h5,h6{font-family:"Segoe UI",Arial,sans-serif;font-weight:400;margin:10px 0}.mystyles-wide{letter-spacing:4px}
hr{border:0;border-top:1px solid #eee;margin:20px 0}
.mystyles-image{max-width:100%;height:auto}img{vertical-align:middle}a{color:inherit}
.mystyles-table,.mystyles-table-all{border-collapse:collapse;border-spacing:0;width:100%;display:table}.mystyles-table-all{border:1px solid #ccc}
.mystyles-bordered tr,.mystyles-table-all tr{border-bottom:1px solid #ddd}.mystyles-striped tbody tr:nth-child(even){background-color:#f1f1f1}
.mystyles-table-all tr:nth-child(odd){background-color:#fff}.mystyles-table-all tr:nth-child(even){background-color:#f1f1f1}
.mystyles-hoverable tbody tr:hover,.mystyles-ul.mystyles-hoverable li:hover{background-color:#ccc}.mystyles-centered tr th,.mystyles-centered tr td{text-align:center}
.mystyles-table td,.mystyles-table th,.mystyles-table-all td,.mystyles-table-all th{padding:8px 8px;display:table-cell;text-align:left;vertical-align:top}
.mystyles-table th:first-child,.mystyles-table td:first-child,.mystyles-table-all th:first-child,.mystyles-table-all td:first-child{padding-left:16px}
.mystyles-btn,.mystyles-button{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
.mystyles-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
.mystyles-btn,.mystyles-button{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}   
.mystyles-disabled,.mystyles-btn:disabled,.mystyles-button:disabled{cursor:not-allowed;opacity:0.3}.mystyles-disabled *,:disabled *{pointer-events:none}
.mystyles-btn.mystyles-disabled:hover,.mystyles-btn:disabled:hover{box-shadow:none}
.mystyles-badge,.mystyles-tag{background-color:#000;color:#fff;display:inline-block;padding-left:8px;padding-right:8px;text-align:center}.mystyles-badge{border-radius:50%}
.mystyles-ul{list-style-type:none;padding:0;margin:0}.mystyles-ul li{padding:8px 16px;border-bottom:1px solid #ddd}.mystyles-ul li:last-child{border-bottom:none}
.mystyles-tooltip,.mystyles-display-container{position:relative}.mystyles-tooltip .mystyles-text{display:none}.mystyles-tooltip:hover .mystyles-text{display:inline-block}
.mystyles-ripple:active{opacity:0.5}.mystyles-ripple{transition:opacity 0s}
.mystyles-input{padding:8px;display:block;border:none;border-bottom:1px solid #ccc;width:100%}
.mystyles-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.mystyles-dropdown-click,.mystyles-dropdown-hover{position:relative;display:inline-block;cursor:pointer}
.mystyles-dropdown-hover:hover .mystyles-dropdown-content{display:block}
.mystyles-dropdown-hover:first-child,.mystyles-dropdown-click:hover{background-color:#ccc;color:#000}
.mystyles-dropdown-hover:hover > .mystyles-button:first-child,.mystyles-dropdown-click:hover > .mystyles-button:first-child{background-color:#ccc;color:#000}
.mystyles-dropdown-content{cursor:auto;color:#000;background-color:#fff;display:none;position:absolute;min-width:160px;margin:0;padding:0;z-index:1}
.mystyles-check,.mystyles-radio{width:24px;height:24px;position:relative;top:6px}
.mystyles-sidebar{height:100%;width:200px;background-color:#fff;position:fixed!important;z-index:1;overflow:auto}
.mystyles-bar-block .mystyles-dropdown-hover,.mystyles-bar-block .mystyles-dropdown-click{width:100%}
.mystyles-bar-block .mystyles-dropdown-hover .mystyles-dropdown-content,.mystyles-bar-block .mystyles-dropdown-click .mystyles-dropdown-content{min-width:100%}
.mystyles-bar-block .mystyles-dropdown-hover .mystyles-button,.mystyles-bar-block .mystyles-dropdown-click .mystyles-button{width:100%;text-align:left;padding:8px 16px}
.mystyles-main,#main{transition:margin-left .4s}
.mystyles-modal{z-index:3;display:none;padding-top:100px;position:fixed;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgb(0,0,0);background-color:rgba(0,0,0,0.4)}
.mystyles-modal-content{margin:auto;background-color:rgb(132, 250, 220);position:relative;padding:0;outline:0;width:600px}
.mystyles-bar{width:100%;overflow:hidden}.mystyles-center .mystyles-bar{display:inline-block;width:auto}
.mystyles-bar .mystyles-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.mystyles-bar .mystyles-dropdown-hover,.mystyles-bar .mystyles-dropdown-click{position:static;float:left}
.mystyles-bar .mystyles-button{white-space:normal}
.mystyles-bar-block .mystyles-bar-item{width:100%;display:block;padding:8px 16px;text-align:left;border:none;white-space:normal;float:none;outline:0}
.mystyles-bar-block.mystyles-center .mystyles-bar-item{text-align:center}.mystyles-block{display:block;width:100%}
.mystyles-responsive{display:block;overflow-x:auto}
.mystyles-container:after,.mystyles-container:before,.mystyles-panel:after,.mystyles-panel:before,.mystyles-row:after,.mystyles-row:before,.mystyles-row-padding:after,.mystyles-row-padding:before,
.mystyles-cell-row:before,.mystyles-cell-row:after,.mystyles-clear:after,.mystyles-clear:before,.mystyles-bar:before,.mystyles-bar:after{content:"";display:table;clear:both}
.mystyles-col,.mystyles-half,.mystyles-third,.mystyles-twothird,.mystyles-threequarter,.mystyles-quarter{float:left;width:100%}
.mystyles-col.s1{width:8.33333%}.mystyles-col.s2{width:16.66666%}.mystyles-col.s3{width:24.99999%}.mystyles-col.s4{width:33.33333%}
.mystyles-col.s5{width:41.66666%}.mystyles-col.s6{width:49.99999%}.mystyles-col.s7{width:58.33333%}.mystyles-col.s8{width:66.66666%}
.mystyles-col.s9{width:74.99999%}.mystyles-col.s10{width:83.33333%}.mystyles-col.s11{width:91.66666%}.mystyles-col.s12{width:99.99999%}
@media (min-width:601px){.mystyles-col.m1{width:8.33333%}.mystyles-col.m2{width:16.66666%}.mystyles-col.m3,.mystyles-quarter{width:24.99999%}.mystyles-col.m4,.mystyles-third{width:33.33333%}
.mystyles-col.m5{width:41.66666%}.mystyles-col.m6,.mystyles-half{width:49.99999%}.mystyles-col.m7{width:58.33333%}.mystyles-col.m8,.mystyles-twothird{width:66.66666%}
.mystyles-col.m9,.mystyles-threequarter{width:74.99999%}.mystyles-col.m10{width:83.33333%}.mystyles-col.m11{width:91.66666%}.mystyles-col.m12{width:99.99999%}}
@media (min-width:993px){.mystyles-col.l1{width:8.33333%}.mystyles-col.l2{width:16.66666%}.mystyles-col.l3{width:24.99999%}.mystyles-col.l4{width:33.33333%}
.mystyles-col.l5{width:41.66666%}.mystyles-col.l6{width:49.99999%}.mystyles-col.l7{width:58.33333%}.mystyles-col.l8{width:66.66666%}
.mystyles-col.l9{width:74.99999%}.mystyles-col.l10{width:83.33333%}.mystyles-col.l11{width:91.66666%}.mystyles-col.l12{width:99.99999%}}
.mystyles-rest{overflow:hidden}.mystyles-stretch{margin-left:-16px;margin-right:-16px}
.mystyles-content,.mystyles-auto{margin-left:auto;margin-right:auto}.mystyles-content{max-width:980px}.mystyles-auto{max-width:1140px}
.mystyles-cell-row{display:table;width:100%}.mystyles-cell{display:table-cell}
.mystyles-cell-top{vertical-align:top}.mystyles-cell-middle{vertical-align:middle}.mystyles-cell-bottom{vertical-align:bottom}
.mystyles-hide{display:none!important}.mystyles-show-block,.mystyles-show{display:block!important}.mystyles-show-inline-block{display:inline-block!important}
@media (max-width:1205px){.mystyles-auto{max-width:95%}}
@media (max-width:600px){.mystyles-modal-content{margin:0 10px;width:auto!important}.mystyles-modal{padding-top:30px}
.mystyles-dropdown-hover.mystyles-mobile .mystyles-dropdown-content,.mystyles-dropdown-click.mystyles-mobile .mystyles-dropdown-content{position:relative}	
.mystyles-hide-small{display:none!important}.mystyles-mobile{display:block;width:100%!important}.mystyles-bar-item.mystyles-mobile,.mystyles-dropdown-hover.mystyles-mobile,.mystyles-dropdown-click.mystyles-mobile{text-align:center}
.mystyles-dropdown-hover.mystyles-mobile,.mystyles-dropdown-hover.mystyles-mobile .mystyles-btn,.mystyles-dropdown-hover.mystyles-mobile .mystyles-button,.mystyles-dropdown-click.mystyles-mobile,.mystyles-dropdown-click.mystyles-mobile .mystyles-btn,.mystyles-dropdown-click.mystyles-mobile .mystyles-button{width:100%}}
@media (max-width:768px){.mystyles-modal-content{width:500px}.mystyles-modal{padding-top:50px}}
@media (min-width:993px){.mystyles-modal-content{width:900px}.mystyles-hide-large{display:none!important}.mystyles-sidebar.mystyles-collapse{display:block!important}}
@media (max-width:992px) and (min-width:601px){.mystyles-hide-medium{display:none!important}}
@media (max-width:992px){.mystyles-sidebar.mystyles-collapse{display:none}.mystyles-main{margin-left:0!important;margin-right:0!important}.mystyles-auto{max-width:100%}}
.mystyles-top,.mystyles-bottom{position:fixed;width:100%;z-index:1}.mystyles-top{top:0}.mystyles-bottom{bottom:0}
.mystyles-overlay{position:fixed;display:none;width:100%;height:100%;top:0;left:0;right:0;bottom:0;background-color:rgba(0,0,0,0.5);z-index:2}
.mystyles-display-topleft{position:absolute;left:0;top:0}.mystyles-display-topright{position:absolute;right:0;top:0}
.mystyles-display-bottomleft{position:absolute;left:0;bottom:0}.mystyles-display-bottomright{position:absolute;right:0;bottom:0}
.mystyles-display-middle{position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);-ms-transform:translate(-50%,-50%)}
.mystyles-display-left{position:absolute;top:50%;left:0%;transform:translate(0%,-50%);-ms-transform:translate(-0%,-50%)}
.mystyles-display-right{position:absolute;top:50%;right:0%;transform:translate(0%,-50%);-ms-transform:translate(0%,-50%)}
.mystyles-display-topmiddle{position:absolute;left:50%;top:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.mystyles-display-bottommiddle{position:absolute;left:50%;bottom:0;transform:translate(-50%,0%);-ms-transform:translate(-50%,0%)}
.mystyles-display-container:hover .mystyles-display-hover{display:block}.mystyles-display-container:hover span.mystyles-display-hover{display:inline-block}.mystyles-display-hover{display:none}
.mystyles-display-position{position:absolute}
.mystyles-circle{border-radius:50%}
.mystyles-round-small{border-radius:2px}.mystyles-round,.mystyles-round-medium{border-radius:4px}.mystyles-round-large{border-radius:8px}.mystyles-round-xlarge{border-radius:16px}.mystyles-round-xxlarge{border-radius:32px}
.mystyles-row-padding,.mystyles-row-padding>.mystyles-half,.mystyles-row-padding>.mystyles-third,.mystyles-row-padding>.mystyles-twothird,.mystyles-row-padding>.mystyles-threequarter,.mystyles-row-padding>.mystyles-quarter,.mystyles-row-padding>.mystyles-col{padding:0 8px}
.mystyles-container,.mystyles-panel{padding:0.01em 16px}.mystyles-panel{margin-top:16px;margin-bottom:16px}
.mystyles-code,.mystyles-codespan{font-family:Consolas,"courier new";font-size:16px}
.mystyles-code{width:auto;background-color:#fff;padding:8px 12px;border-left:4px solid #4CAF50;word-wrap:break-word}
.mystyles-codespan{color:#4CAF50;background-color:#f1f1f1;padding-left:4px;padding-right:4px;font-size:110%}
.mystyles-card,.mystyles-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}
.mystyles-card-4,.mystyles-hover-shadow:hover{box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19)}
.mystyles-spin{animation:mystyles-spin 2s infinite linear}@keyframes mystyles-spin{0%{transform:rotate(0deg)}100%{transform:rotate(359deg)}}
.mystyles-animate-fading{animation:fading 10s infinite}@keyframes fading{0%{opacity:0}50%{opacity:1}100%{opacity:0}}
.mystyles-animate-opacity{animation:opac 0.8s}@keyframes opac{from{opacity:0} to{opacity:1}}
.mystyles-animate-top{position:relative;animation:animatetop 0.4s}@keyframes animatetop{from{top:-300px;opacity:0} to{top:0;opacity:1}}
.mystyles-animate-left{position:relative;animation:animateleft 0.4s}@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}
.mystyles-animate-right{position:relative;animation:animateright 0.4s}@keyframes animateright{from{right:-300px;opacity:0} to{right:0;opacity:1}}
.mystyles-animate-bottom{position:relative;animation:animatebottom 0.4s}@keyframes animatebottom{from{bottom:-300px;opacity:0} to{bottom:0;opacity:1}}
.mystyles-animate-zoom {animation:animatezoom 0.6s}@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
.mystyles-animate-input{transition:width 0.4s ease-in-out}.mystyles-animate-input:focus{width:100%!important}
.mystyles-opacity,.mystyles-hover-opacity:hover{opacity:0.60}.mystyles-opacity-off,.mystyles-hover-opacity-off:hover{opacity:1}
.mystyles-opacity-max{opacity:0.25}.mystyles-opacity-min{opacity:0.75}
.mystyles-greyscale-max,.mystyles-grayscale-max,.mystyles-hover-greyscale:hover,.mystyles-hover-grayscale:hover{filter:grayscale(100%)}
.mystyles-greyscale,.mystyles-grayscale{filter:grayscale(75%)}.mystyles-greyscale-min,.mystyles-grayscale-min{filter:grayscale(50%)}
.mystyles-sepia{filter:sepia(75%)}.mystyles-sepia-max,.mystyles-hover-sepia:hover{filter:sepia(100%)}.mystyles-sepia-min{filter:sepia(50%)}
.mystyles-tiny{font-size:10px!important}.mystyles-small{font-size:12px!important}.mystyles-medium{font-size:15px!important}.mystyles-large{font-size:18px!important}
.mystyles-xlarge{font-size:24px!important}.mystyles-xxlarge{font-size:36px!important}.mystyles-xxxlarge{font-size:48px!important}.mystyles-jumbo{font-size:64px!important}
.mystyles-left-align{text-align:left!important}.mystyles-right-align{text-align:right!important}.mystyles-justify{text-align:justify!important}.mystyles-center{text-align:center!important}
.mystyles-border-0{border:0!important}.mystyles-border{border:1px solid #ccc!important}
.mystyles-border-top{border-top:1px solid #ccc!important}.mystyles-border-bottom{border-bottom:1px solid #ccc!important}
.mystyles-border-left{border-left:1px solid #ccc!important}.mystyles-border-right{border-right:1px solid #ccc!important}
.mystyles-topbar{border-top:6px solid #ccc!important}.mystyles-bottombar{border-bottom:6px solid #ccc!important}
.mystyles-leftbar{border-left:6px solid #ccc!important}.mystyles-rightbar{border-right:6px solid #ccc!important}
.mystyles-section,.mystyles-code{margin-top:16px!important;margin-bottom:16px!important}
.mystyles-margin{margin:16px!important}.mystyles-margin-top{margin-top:16px!important}.mystyles-margin-bottom{margin-bottom:16px!important}
.mystyles-margin-left{margin-left:16px!important}.mystyles-margin-right{margin-right:16px!important}
.mystyles-padding-small{padding:4px 8px!important}.mystyles-padding{padding:8px 16px!important}.mystyles-padding-large{padding:12px 24px!important}
.mystyles-padding-16{padding-top:16px!important;padding-bottom:16px!important}.mystyles-padding-24{padding-top:24px!important;padding-bottom:24px!important}
.mystyles-padding-32{padding-top:32px!important;padding-bottom:32px!important}.mystyles-padding-48{padding-top:48px!important;padding-bottom:48px!important}
.mystyles-padding-64{padding-top:66px!important;padding-bottom:66px!important}
.mystyles-left{float:left!important}.mystyles-right{float:right!important}
.mystyles-button:hover{color:#000!important;background-color:#ccc!important}
.mystyles-transparent,.mystyles-hover-none:hover{background-color:transparent!important}
.mystyles-hover-none:hover{box-shadow:none!important}
/* Colors */
.mystyles-amber,.mystyles-hover-amber:hover{color:#000!important;background-color:#ffc107!important}
.mystyles-aqua,.mystyles-hover-aqua:hover{color:#000!important;background-color:#00ffff!important}
.mystyles-blue,.mystyles-hover-blue:hover{color:#fff!important;background-color:#2196F3!important}
.mystyles-light-blue,.mystyles-hover-light-blue:hover{color:#000!important;background-color:#87CEEB!important}
.mystyles-brown,.mystyles-hover-brown:hover{color:#fff!important;background-color:#795548!important}
.mystyles-cyan,.mystyles-hover-cyan:hover{color:#000!important;background-color:#00bcd4!important}
.mystyles-blue-grey,.mystyles-hover-blue-grey:hover,.mystyles-blue-gray,.mystyles-hover-blue-gray:hover{color:#fff!important;background-color:#607d8b!important}
.mystyles-green,.mystyles-hover-green:hover{color:#fff!important;background-color:#4CAF50!important}
.mystyles-light-green,.mystyles-hover-light-green:hover{color:#000!important;background-color:#8bc34a!important}
.mystyles-indigo,.mystyles-hover-indigo:hover{color:#fff!important;background-color:#3f51b5!important}
.mystyles-khaki,.mystyles-hover-khaki:hover{color:#000!important;background-color:#f0e68c!important}
.mystyles-lime,.mystyles-hover-lime:hover{color:#000!important;background-color:#cddc39!important}
.mystyles-orange,.mystyles-hover-orange:hover{color:#000!important;background-color:#ff9800!important}
.mystyles-deep-orange,.mystyles-hover-deep-orange:hover{color:#fff!important;background-color:#022c44!important}
.mystyles-pink, .mystyles-hover-pink:hover{color: #f2f0f7!important;background-color:#8314FC!important;}
.mystyles-purple,.mystyles-hover-purple:hover{color:#fff!important;background-color:#9c27b0!important}
.mystyles-deep-purple,.mystyles-hover-deep-purple:hover{color:#fff!important;background-color:#673ab7!important}
.mystyles-red,.mystyles-hover-red:hover{color:#fff!important;background-color:#022f53!important}
.mystyles-sand,.mystyles-hover-sand:hover{color:#000!important;background-color:#fdf5e6!important}
.mystyles-teal,.mystyles-hover-teal:hover{color:#fff!important;background-color:#009688!important}
.mystyles-yellow,.mystyles-hover-yellow:hover{color:#000!important;background-color:#ffeb3b!important}
.mystyles-white,.mystyles-hover-white:hover{color:#000!important;background-color:#fff!important}
.mystyles-black,.mystyles-hover-black:hover{color:#fff!important;background-color:#000!important}
.mystyles-grey,.mystyles-hover-grey:hover,.mystyles-gray,.mystyles-hover-gray:hover{color:#000!important;background-color:#9e9e9e!important}
.mystyles-light-grey,.mystyles-hover-light-grey:hover,.mystyles-light-gray,.mystyles-hover-light-gray:hover{color:#000!important;background-color:#f1f1f1!important}
.mystyles-dark-grey,.mystyles-hover-dark-grey:hover,.mystyles-dark-gray,.mystyles-hover-dark-gray:hover{color:#fff!important;background-color:#616161!important}
.mystyles-pale-red,.mystyles-hover-pale-red:hover{color:#000!important;background-color:#ffdddd!important}
.mystyles-pale-green,.mystyles-hover-pale-green:hover{color:#000!important;background-color:#ddffdd!important}
.mystyles-pale-yellow,.mystyles-hover-pale-yellow:hover{color:#000!important;background-color:#ffffcc!important}
.mystyles-pale-blue,.mystyles-hover-pale-blue:hover{color:#000!important;background-color:#ddffff!important}
.mystyles-text-amber,.mystyles-hover-text-amber:hover{color:#ffc107!important}
.mystyles-text-aqua,.mystyles-hover-text-aqua:hover{color:#00ffff!important}
.mystyles-text-blue,.mystyles-hover-text-blue:hover{color:#2196F3!important}
.mystyles-text-light-blue,.mystyles-hover-text-light-blue:hover{color:#87CEEB!important}
.mystyles-text-brown,.mystyles-hover-text-brown:hover{color:#795548!important}
.mystyles-text-cyan,.mystyles-hover-text-cyan:hover{color:#00bcd4!important}
.mystyles-text-blue-grey,.mystyles-hover-text-blue-grey:hover,.mystyles-text-blue-gray,.mystyles-hover-text-blue-gray:hover{color:#607d8b!important}
.mystyles-text-green,.mystyles-hover-text-green:hover{color:#4CAF50!important}
.mystyles-text-light-green,.mystyles-hover-text-light-green:hover{color:#8bc34a!important}
.mystyles-text-indigo,.mystyles-hover-text-indigo:hover{color:#3f51b5!important}
.mystyles-text-khaki,.mystyles-hover-text-khaki:hover{color:#b4aa50!important}
.mystyles-text-lime,.mystyles-hover-text-lime:hover{color:#cddc39!important}
.mystyles-text-orange,.mystyles-hover-text-orange:hover{color:#ff9800!important}
.mystyles-text-deep-orange,.mystyles-hover-text-deep-orange:hover{color:#6e48f8!important}
.mystyles-text-pink,.mystyles-hover-text-pink:hover{color:#e91e63!important}
.mystyles-text-purple,.mystyles-hover-text-purple:hover{color:#9c27b0!important}
.mystyles-text-deep-purple,.mystyles-hover-text-deep-purple:hover{color:#673ab7!important}
.mystyles-text-red,.mystyles-hover-text-red:hover{color:#f44336!important}
.mystyles-text-sand,.mystyles-hover-text-sand:hover{color:#fdf5e6!important}
.mystyles-text-teal,.mystyles-hover-text-teal:hover{color:#009688!important}
.mystyles-text-yellow,.mystyles-hover-text-yellow:hover{color:#d2be0e!important}
.mystyles-text-white,.mystyles-hover-text-white:hover{color:#8080ff!important}
.mystyles-text-black,.mystyles-hover-text-black:hover{color:#000!important}
.mystyles-text-grey,.mystyles-hover-text-grey:hover,.mystyles-text-gray,.mystyles-hover-text-gray:hover{color:#757575!important}
.mystyles-text-light-grey,.mystyles-hover-text-light-grey:hover,.mystyles-text-light-gray,.mystyles-hover-text-light-gray:hover{color:#f1f1f1!important}
.mystyles-text-dark-grey,.mystyles-hover-text-dark-grey:hover,.mystyles-text-dark-gray,.mystyles-hover-text-dark-gray:hover{color:#3a3a3a!important}
.mystyles-border-amber,.mystyles-hover-border-amber:hover{border-color:#ffc107!important}
.mystyles-border-aqua,.mystyles-hover-border-aqua:hover{border-color:#00ffff!important}
.mystyles-border-blue,.mystyles-hover-border-blue:hover{border-color:#2196F3!important}
.mystyles-border-light-blue,.mystyles-hover-border-light-blue:hover{border-color:#87CEEB!important}
.mystyles-border-brown,.mystyles-hover-border-brown:hover{border-color:#795548!important}
.mystyles-border-cyan,.mystyles-hover-border-cyan:hover{border-color:#00bcd4!important}
.mystyles-border-blue-grey,.mystyles-hover-border-blue-grey:hover,.mystyles-border-blue-gray,.mystyles-hover-border-blue-gray:hover{border-color:#607d8b!important}
.mystyles-border-green,.mystyles-hover-border-green:hover{border-color:#4CAF50!important}
.mystyles-border-light-green,.mystyles-hover-border-light-green:hover{border-color:#8bc34a!important}
.mystyles-border-indigo,.mystyles-hover-border-indigo:hover{border-color:#3f51b5!important}
.mystyles-border-khaki,.mystyles-hover-border-khaki:hover{border-color:#f0e68c!important}
.mystyles-border-lime,.mystyles-hover-border-lime:hover{border-color:#cddc39!important}
.mystyles-border-orange,.mystyles-hover-border-orange:hover{border-color:#ff9800!important}
.mystyles-border-deep-orange,.mystyles-hover-border-deep-orange:hover{border-color:#9227f7!important}
.mystyles-border-pink,.mystyles-hover-border-pink:hover{border-color:#e91e63!important}
.mystyles-border-purple,.mystyles-hover-border-purple:hover{border-color:#9c27b0!important}
.mystyles-border-deep-purple,.mystyles-hover-border-deep-purple:hover{border-color:#673ab7!important}
.mystyles-border-red,.mystyles-hover-border-red:hover{border-color:#f436f4!important}
.mystyles-border-sand,.mystyles-hover-border-sand:hover{border-color:#fdf5e6!important}
.mystyles-border-teal,.mystyles-hover-border-teal:hover{border-color:#009688!important}
.mystyles-border-yellow,.mystyles-hover-border-yellow:hover{border-color:#ffeb3b!important}
.mystyles-border-white,.mystyles-hover-border-white:hover{border-color:#fff!important}
.mystyles-border-black,.mystyles-hover-border-black:hover{border-color:#000!important}
.mystyles-border-grey,.mystyles-hover-border-grey:hover,.mystyles-border-gray,.mystyles-hover-border-gray:hover{border-color:#9e9e9e!important}
.mystyles-border-light-grey,.mystyles-hover-border-light-grey:hover,.mystyles-border-light-gray,.mystyles-hover-border-light-gray:hover{border-color:#f1f1f1!important}
.mystyles-border-dark-grey,.mystyles-hover-border-dark-grey:hover,.mystyles-border-dark-gray,.mystyles-hover-border-dark-gray:hover{border-color:#616161!important}
.mystyles-border-pale-red,.mystyles-hover-border-pale-red:hover{border-color:#ffe7e7!important}.mystyles-border-pale-green,.mystyles-hover-border-pale-green:hover{border-color:#e7ffe7!important}
.mystyles-border-pale-yellow,.mystyles-hover-border-pale-yellow:hover{border-color:#ffffcc!important}.mystyles-border-pale-blue,.mystyles-hover-border-pale-blue:hover{border-color:#e7ffff!important}