<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

<header>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <ul class="nav navbar-nav">
                <li>
                    <a [routerLink]="['/']" class="active">
                        <span class="glyphicon glyphicon-home"></span> Home </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a [routerLink]="['/login']" class="nav-link">
                        <span class="glyphicon glyphicon-log-in"></span> LogIn </a>
                </li>
                <li>
                    <a [routerLink]="['/register']" class="nav-link">
                        <span class="glyphicon glyphicon-user"></span> SignUp </a>
                </li>
            </ul>
        </div>
    </nav>
</header>

<br/>
<hr class="sidebar-divider my-0">
<br/>
<br/>
<div align="center">
    <h2>
        <span style="color: red;">Wrong Credentials..
            <br>Please login to continue...</span>
    </h2>
</div>