<app-resource-header></app-resource-header>
<br>
<br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn button">
    <a class="nav-link" routerLink="/Leave">Leave</a>
</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn button">
    <a class="nav-link" routerLink="/CourseExtension">Couse Extension</a>
</button> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<button type="button" class="btn button">
    <a class="nav-link" routerLink="/MaterialRequest">Material Request</a>
</button>

<router-outlet></router-outlet>